root = true

# Defaults for All Files
[*]
indent_style = space
indent_size = 2
charset = utf-8
trim_trailing_whitespace = true
end_of_line = lf
insert_final_newline = true

# For Markdown Files
[*.md]
trim_trailing_whitespace = false

# Settings for Programing Languages
[*.{js,py,ts,vb}]
charset = utf-8

